## This Notebook is for a Quiz done by me for my Internship With Hamoye -Elijah Igbokah

In [1]:

import numpy as np
import os
import pandas as pd

In [2]:
#Read Fuel data csv file and display first 5 rows
fuel_data = pd.read_csv('fuel_ferc1.csv')
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [6]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

## To find the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)

In [8]:
#Doing Summary statistics
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## To find the skewness and kurtosis for the fuel quantity burned

In [13]:
#For skewness:
fd_skew = fuel_data['fuel_qty_burned'].skew()
print ('The skew for the fuel quanity burned is:', fd_skew)

The skew for the fuel quanity burned is: 15.851495469109503

In [12]:
#For Kurtosis
fd_kurt = fuel_data['fuel_qty_burned'].kurtosis()
print ('The kurtosis for the fuel quanity burned is:', fd_kurt)

The kurtosis for the fuel quanity burned is: 651.3694501337732

## fuel type code with the lowest average fuel cost per unit burned

In [14]:
# Creating a dictionary to remember the description of the column names
data_desc = {'Record_id' : 'record id','Utility_id_ferc1': 'Utility id assigned by the FERC',
             'Report_year': 'year of report',
             'Plant_name_ferc1': 'the name of the plant', 
             'Fuel_type_code_pudl': 'the type of fuel', 
             'Fuel_unit': 'the unit of fuel', 
             'Fuel_qty_burned': 'the quantity of fuel burned', 
             'Fuel_mmbtu_per_unit': 'the measure of energy per unit',
             'fuel_cost_per_unit_burned': 'the fuel cost per unit burned',
             'Fuel_cost_per_unit_delivered': 'the cost of fuel delivered per unit',
             'fuel_cost_per_mmbtu': 'the cost of fuel per mmbtu'
            }
data_desc

{'Record_id': 'record id',
 'Utility_id_ferc1': 'Utility id assigned by the FERC',
 'Report_year': 'year of report',
 'Plant_name_ferc1': 'the name of the plant',
 'Fuel_type_code_pudl': 'the type of fuel',
 'Fuel_unit': 'the unit of fuel',
 'Fuel_qty_burned': 'the quantity of fuel burned',
 'Fuel_mmbtu_per_unit': 'the measure of energy per unit',
 'fuel_cost_per_unit_burned': 'the fuel cost per unit burned',
 'Fuel_cost_per_unit_delivered': 'the cost of fuel delivered per unit',
 'fuel_cost_per_mmbtu': 'the cost of fuel per mmbtu'}

In [15]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [21]:
#To find the average of the fuel cost per unit burned, i must first find the total cost, then divide it by the number of values
total_cost = fuel_data['fuel_cost_per_unit_burned'].sum()
num_of_val = fuel_data['fuel_cost_per_unit_burned'].count()
avg_fuel_cost = total_cost / num_of_val
avg_fuel_cost

208.64903102665716

In [24]:
#alternatively we cold find the mean
fuel_data['fuel_cost_per_unit_burned'].mean()

208.64903102665716

In [31]:
fuel_cost_avg =fuel_data['fuel_cost_per_unit_burned'].mean()

## Feature with missing values

In [33]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [41]:
(180 / fuel_data['fuel_unit'].value_counts().sum()) * 100

0.6134342091810653